.about
	position: relative
	top: 0
	font-family: $dosis
	font-size: 16px
	line-height: 1.6
	padding: 0 20px

.about__me--header, .about__front--header, .about__music--header, .about__hobby--header
	width: 250px
	height: 50px
	background-color: $choco
	line-height: 50px
	padding: 5px
	font-size: 24px
	color: $white
	text-align: center
	margin: 20px auto

	@media (max-width: 600px)
		width: 250px
		max-width: 90vw
		font-size: 24px
		padding: 8px
		margin: 20px auto

.about a
	text-decoration: none
	color: $choco

.about__me--img
	width: 150px
	height: auto

	@media (max-width: 600px)
		
		margin: 0 auto
	
.about__me--container
	width: 150px
	float: left
	margin-right: 20px

	@media (max-width: 600px)	
		float: none
		margin-right: 0
		width: 90vw
		margin: 0 auto
		text-align: center