.works
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	margin: 20px auto
	max-width: 1200px

.works__screen
	width: 280px
	height: 180px
	border: 2px solid $choco
	overflow: hidden
	margin: 10px

	&:hover
		cursor: pointer

	@media (max-width: 600px)
		margin: 10px 0

.works__screen--link
	width: 100%
	height: 100%

	&:hover
		cursor: pointer

.works__screen--img
	width: 100%
	

.works__screen--iframe
	width: 100%
	height: 100%

.about__front--gitIcon
	font-size: 30px
	text-align: center
	display: block
	margin-bottom: 30px

	i
		font-size: 80px
		margin-bottom: 10px

.works__describe
	margin-top: 20px
	
